/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.barrasuperior {
    background-color: #000 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #1DB954;
    background-color: #000;
    border-color: #000;
    border-radius: 100px;
    width: 200px !important; 
    height: 40px !important; 
}
    .btn-primary:hover {
        cursor: pointer;
        color: #1DB954;
        border-color: #000;
        background-color: #222;
        width: 220px !important;
        height: 44px !important;
    }

    .btn-primary:focus {
        cursor: pointer;
        color: #1DB954;
        border-color: #000;
        background-color: #222;
        width: 220px !important;
        height: 44px !important;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #1DB954;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #000;
    line-height: 60px; /* Vertically center the text there */
}

h3 {
    color: #000;
    font-size: 40px !important;
    font-family:'Times New Roman';
}

.imglogo {
    width: auto;
    height: 40px;
    max-width: 160px;
}

input[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 10px;
    border-color: black;
    width: 300px !important;
    height: 35px !important;
    border-radius: 10px;
}