@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Spotify downloader</h3>
    <hr />
    <form method="post" asp-page-handler="DownloadPlaylist">
        <input type="text" placeholder="Playlist link" name="LinkPlaylist" class="input-bonito"/>
        <br />
        <br />
        <button type="submit" class="btn-primary">Download playlist</button>
    </form>
</div>
