@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Spotify downloader</h3>
    <hr />
    <form method="post">
        <br />
        <button type="submit" class="btn-primary">Fazer login</button>
    </form>
</div>
